<a href="https://colab.research.google.com/github/dishvanthini/dishvanthini/blob/main/dict_%2Ctuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dictionaries

1.  Unordered mapping for sorting object
2.  Cannot be sorted


       use {} and :
       {'key': 'value','key':'value }

In [ ]:
## dict
dict={'banu':'name','age':6,'std':'2nd'}
print(dict)

{'banu': 'name', 'age': 6, 'std': '2nd'}

to display value of age

In [ ]:
dict['age']

6

**To replace value**

In [ ]:
fruit_cost={'mango':209,'orange':150,'banana':100,}
print(fruit_cost)
fruit_cost ['mango']

{'mango': 209, 'orange': 150, 'banana': 100}

209

In [ ]:
## to replace value
fruit_cost['mango']=210
print(fruit_cost)

{'mango': 210, 'orange': 150, 'banana': 100}

**To display only the key**

In [ ]:
fruit_cost={'mango':210,'orange':150,'banana':100,}
print(fruit_cost)

{'mango': 210, 'orange': 150, 'banana': 100}

In [ ]:
fruit_cost.keys()

dict_keys(['mango', 'orange', 'banana'])

**To display only the values**

In [ ]:
fruit_cost.values()

dict_values([210, 150, 100])

**To display both key and value**

In [ ]:
fruit_cost.items()

dict_items([('mango', 210), ('orange', 150), ('banana', 100)])

**Nested dict**

In [ ]:
d={'k':2,'k2':[3,4,5,6],'k3':{'nested_dict':1}}
##             0 1 2 3
print ('value of k is ',d['k'])
print('2nd element in k2 :',d['k2'][1])
print('value of k3 ',d['k3'])

value of k is  2
2nd element in k2 : 4
value of k3  {'nested_dict': 1}

to print the nested value of k3

In [ ]:
d['k3']['nested_dict']

17

To add element

In [ ]:
d

{'k': 2, 'k2': [3, 4, 5, 6], 'k3': {'nested_dict': 17}}

In [ ]:
#adding 7 to k2
d['k2'].append('7')
print('after adding new value:\n',d)

after adding new value:
 {'k': 2, 'k2': [3, 4, 5, 6, '7'], 'k3': {'nested_dict': 1}}

To remove last element...pop

In [ ]:
d['k2'].pop()

'7'

In [ ]:
d

{'k': 2, 'k2': [3, 4, 5, 6], 'k3': {'nested_dict': 1}}

In [ ]:
d['k2'].pop()
print(d)

{'k': 2, 'k2': [3, 4], 'k3': {'nested_dict': 1}}

**To del**

In [ ]:
print(d)

{'k2': [3, 4]}

In [ ]:
## particular key
del d['k3']
print(d)

{'k': 2, 'k2': [3, 4, 5, 6]}

In [ ]:
## to del particular element
d.clear()

In [ ]:
d

{}

here able to see curly braces this denote that dict is not delete only element is delete

In [ ]:
del d

In [ ]:
d

occur error due to del dict



---

# Tuple
   





---

In [ ]:
## to count element
t=('one','two','three',4,'one',4,4)
##  0      1     2      3  4   5 6
a=t.count('one')
print (a)

2

In [ ]:
## to print index value for element
t=('one','two','three',4,'one',4,4)
t[4]

'one'

In [ ]:
## to print last element
t=('one','two','three',4,'one',4,4)
t[-1]

4

In [ ]:
### to know type
t=('one','two','three',4,'one',4,4)
type (t)

tuple

In [ ]:
## to add tuple
a=(1,3,4,5,67)
b=(1,4,5,78,89)
c=a+b
print(c)

(1, 3, 4, 5, 67, 1, 4, 5, 78, 89)

In [ ]:
## to print max value
a=(1,3,4,5,67)
max(a)

67

In [ ]:
## to print min value
a=(1,3,4,5,67)
min(a)

1

In [ ]:
## nested tuple
channel =(('news',234),('music',354),('cartoon',234))
print(channel)
print("2nd element",channel[1])

(('news', 234), ('music', 354), ('cartoon', 234))
2nd element ('music', 354)