<a href="https://colab.research.google.com/github/dishvanthini/dishvanthini/blob/main/TUPLE_%2C_creating_%2C_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
   





---

In [2]:
tup1 = (1, 2, 3)
tup2 = 4, 5, 6

In [3]:
print(tup1[0])  # Output: 1

1

In [4]:
tup3 = tup1 + tup2  # Resulting tuple: (1, 2, 3, 4, 5, 6)

In [5]:
tup4 = tup1 * 3  # Resulting tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [6]:
for item in tup1:
    print(item)

1
2
3

In [7]:
tup = (1, 2, 2, 3, 4, 2)
print(tup.count(2))  # Output: 3

3

In [8]:
tup = (1, 2, 3, 4, 2)
print(tup.index(2))  # Output: 1 (index of the first occurrence of 2)

1

In [9]:
## to count element
t=('one','two','three',4,'one',4,4)
##  0      1     2      3  4   5 6
a=t.count('one')
print (a)

2

In [10]:
## to print index value for element
t=('one','two','three',4,'one',4,4)
t[4]

'one'

In [11]:
## to print last element
t=('one','two','three',4,'one',4,4)
t[-1]

4

In [12]:
### to know type
t=('one','two','three',4,'one',4,4)
type (t)

tuple

In [13]:
## to add tuple
a=(1,3,4,5,67)
b=(1,4,5,78,89)
c=a+b
print(c)

(1, 3, 4, 5, 67, 1, 4, 5, 78, 89)

In [14]:
## to print max value
a=(1,3,4,5,67)
max(a)

67

In [15]:
## to print min value
a=(1,3,4,5,67)
min(a)

1

In [16]:
## nested tuple
channel =(('news',234),('music',354),('cartoon',234))
print(channel)
print("2nd element",channel[1])

(('news', 234), ('music', 354), ('cartoon', 234))
2nd element ('music', 354)